<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>CDS that I own or would like</title>
<!-- bootstrap is used for the grid (2 columns side by each) -->
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css" rel="stylesheet" />
<!-- this style gives spacing in the cditemview template -->
<style>
td{
padding-right:15px;
}
</style>
</head>
<body>
<h1>List of Cds</h1>
<!-- this is where the list of cds will go on the left portion of the screen, the proportions are set by the col-md-? class -->
<div id="cdlist" class="col-md-5">
</div>
<!-- this is where the cd's details will go on the right portion of the screen -->
<div id="cditemview" class="col-md-7">
</div>
<div id="errlist"></div>
<!-- this is the template for an individual cd in the list ... note the `cds` prefix to the url -->
<script id="cditem" type="text/template">
<div>
	<a href="#cds/<%= id %>" class="clickable" ><%= Title %></a>
</div>
</script>
<!-- this is the template for an individual cd's details the properties inside the <%= ... %> must match the database column names -->
<script id="cditemdetails" type="text/template">
<table>
<tr><td>id:</td><td><%= id %></td></tr>
<tr><td>title:</td><td><%= Title %></td></tr>
<tr><td>arranger:</td><td><%= Arranger %></td></tr>
<tr><td>genre:</td><td><%= Genre %></td></tr>
</table>
</script>
</body>
<!-- jQuery is used to retrieve and combine the data with the dom -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<!-- underscore is used to render the template with the object from the api -->
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
<!-- backbone is a router that respects the back button -->
<script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.0/backbone-min.js"></script>
<!-- this is our javascript -->
<script src="js/cdsbackbone.js"></script>
</html>